<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="studioEntities" connectionString="metadata=res://*/EntityFrameworkModel.csdl|res://*/EntityFrameworkModel.ssdl|res://*/EntityFrameworkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=GIOVANNI\SQLEXPRESS;Initial Catalog=studio;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>